@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #091512;
    --background: #f7fdfc;
    --primary: #42d7bb;
    --secondary: #78edd9;
    --accent: #51f6d8;
  }
  .dark {
    --text: #eaf6f3;
    --background: #020807;
    --primary: #28bda2;
    --secondary: #128773;
    --accent: #09ae90;
  }
},


:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  border-box: box-sizing;
}

//Syntax CSS
.syntax-container {
  
}

.syntax-container > .syntax-highlighter {
  width:100%;
  height: 100%;
  color: #D4D4D4;
 
}

/* .syntax-container > .syntax-highlighter .language-typescript > span:hover {
  background-color: rgba(224, 224, 173, 0.2) !important;
} */

.syntax-container > .syntax-highlighter .language-typescript .linenumber {
  color: rgb(126, 120, 135) !important;
  margin-left: 15px;
  margin-right: 15px;
  background-color: transparent;
  border-right: 1px solid rgb(126, 120, 135);
}

.syntax-container > .syntax-highlighter .language-typescript .linenumber:hover {
  color: rgb(213, 214, 133) !important;
  margin-left: 15px;
  margin-right: 15px;
}

.syntax-container > .syntax-highlighter .language-typescript .hljs-comment {
  color: #48a454;
  font-weight: 450;
}

.syntax-container > .syntax-highlighter .language-typescript .hljs-keyword {
  color: #d86fc0;
}

.syntax-container > .syntax-highlighter .language-typescript .hljs-function {
  color: #4098d7;
}

.syntax-container > .syntax-highlighter .language-typescript .hljs-title {
  color: #d8e2a9;
}

.syntax-container >.syntax-highlighter .language-typescript .hljs-tag {
  color: #d4d4d4;
}

.syntax-container >.syntax-highlighter .language-typescript .hljs-name {
  color: #4098d7;
}

.syntax-container >.syntax-highlighter .language-typescript .hljs-attr {
  color: #86ddff;
}

.syntax-container >.syntax-highlighter .language-typescript .hljs-string {
  color: #dc8a77;
}

.syntax-container >.syntax-highlighter .language-typescript .hljs-built_in {
  color: #00d5b0;
}
#syntax-style::-webkit-scrollbar {
  background-color: transparent;
  width: 20px;
}
#syntax-style::-webkit-scrollbar-thumb {
  background-color: #464646;
  border-radius: 2rem;
  border: 6px solid transparent;
  background-clip: content-box;
}




